version: "3.7"

services:
  server:
    image: lscr.io/linuxserver/steamos:latest
    container_name: steamos
    security_opt:
      - seccomp:unconfined
    privileged: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - DISPLAY_WIDTH=1280
      - DISPLAY_HEIGHT=720
      - MODE=primary
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${APP_DATA_DIR}/data/steam-games:/steam-library
      - ${UMBREL_ROOT}/data/storage/downloads/steam-games:/steam-library-downloads
      - /var/run/docker.sock:/var/run/docker.sock
    devices:
      - /dev/dri:/dev/dri     
      - /dev/input:/dev/input
    ports:
      - 5139:3001
    shm_size: "10gb"
    restart: on-failure