version: "3.7"

services:
  server:
    image: lscr.io/linuxserver/steamos:latest
    container_name: steamos
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined 
    cap_add:
      - NET_ADMIN
    privileged: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - DISPLAY_WIDTH=1280
      - DISPLAY_HEIGHT=720
      - DRINODE=/dev/dri/renderD128 
      - MODE=primary
      - RESOLUTION=1920x1080
      - STARTUP=KDE # Options: KDE, BIGPICTURE
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${UMBREL_ROOT}/data/storage/downloads/steam-games:/steam-library
      - /var/run/docker.sock:/var/run/docker.sock
      
      - /run/dbus:/run/dbus:ro            
      - /run/udev/data:/run/udev/data:ro
      
    devices:
      - /dev/dri:/dev/dri
      - /dev/input:/dev/input
    ports:
      # Porta Web
      - 5139:3000
      # Portas opcionais para Steam Link / Remote Play (Caso queira jogar do celular)
      - 27031-27036:27031-27036/udp
      - 27031-27036:27031-27036
      - 47984-47990:47984-47990
      - 48010:48010
      - 47998-48000:47998-48000/udp
    shm_size: "10gb"
    restart: on-failure